.header-bloc {
  padding-top: 60px;
  padding-bottom: 28px;
  padding-inline: 98px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-nav-1 {
  display: none;
}

.header-seacrh {
  display: flex;
  background-color: #262626;
  border: none;
  border-radius: 12px;
  padding: 6.5px 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-nav {
  display: flex;
}

.header-nav div {
  width: 170px;
}

.header-nav div a {
  font-size: 16px;
  font-weight: 500;
}

.header-login-btn {
  display: flex;
  gap: 12px;
}

.nav-a-1 {
  position: relative;
}

.nav-a {
  position: relative;
}

.header-seacrh-2 {
  display: none;
}

.burger {
  display: none;
}

.nav-a::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("/img/img_header/next_header.svg");
  position: absolute;
  right: -20px;
  top: 6.5px;
}

.nav-a-1::before {
  content: "";
  height: 3px;
  width: 100px;
  background: #d90a14;
  background: linear-gradient(
    90deg,
    rgba(217, 10, 20, 1) 0%,
    rgba(205, 78, 23, 1) 100%
  );
  position: absolute;
  bottom: -7px;
  right: -26px;
  border-radius: 10px;
}

.user-block button {
  font-size: 12px;
  padding: 5px;
}

@media (max-width: 430px) {
  .header-bloc {
    gap: 0px;
    padding-top: 24px;
    padding-bottom: 38px;
    padding-inline: 24px;
  }
  .header-logo img {
    width: 97px;
    height: 41px;
  }

  .header-nav {
    display: none;
  }
  .header-seacrh {
    display: none;
  }
  .header-seacrh-2 {
    margin-left: 12px;
    padding: 9.5px;
    gap: 3px;
    border-radius: 12px;
    color: #ffff;
    background-color: #262626;
    display: flex;
  }
  .header-seacrh-2 input {
    outline: none;
    border-radius: 12px;
    border: none;
    background-color: #262626;
    color: #ffff;
  }

  .header-nav-1 {
    display: none;
  }
  .burger {
    position: relative;
    margin: 4.5px;
    display: grid;
    width: 100%;
    max-width: 30px;
    height: 100vh;
    max-width: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.5s;
  }

  .burger::after,
  .burger::before,
  .burger span {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffff;
    transition: 0.5s;
  }

  .burger span {
    top: 11px;
  }

  .burger::before {
    content: "";
    top: 0;
  }
  .burger::after {
    content: "";
    bottom: 0;
  }

  .burger-active span {
    transition: 0.5s;
    transform: rotate(45deg);

    top: 12px;
  }

  .burger-active::before {
    transition: 0.5s;

    transform: rotate(45deg);

    top: 12px;
  }
  .burger-active::after {
    transition: 0.5s;

    transform: rotate(-45deg);

    bottom: 10px;
  }
  .header-nav-1 {
    position: fixed;
    left: -200px;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    z-index: 1;
    background-color: #202020;
    transition: 0.5s;
  }
  .active {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    background-color: #202020;
    transition: 0.5s;
  }
  #bnts-header-1,
  #bnts-header-2,
  #headerLogin-btn {
    display: none;
  }
  #userBloc2 {
    display: none;
  }
  #user-bloc {
    display: none;
  }
  .header-login-btn-1 {
    padding-top: 10px;
    display: grid;
  }
  .btn-header-2 {
    display: none;
  }
  .header-login-btn {
    display: none;
  }

  #btnlogout {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header-bloc {
    display: flex;
    gap: 0px;
    padding-top: 24px;
    padding-bottom: 38px;
    padding-inline: 24px;
  }

  .header-nav {
    display: none;
  }
  .header-seacrh {
    display: none;
  }
  .header-seacrh-2 {
    flex: 0.9;
    margin-left: 12px;
    margin-right: 12px;
    padding: 9.5px;
    gap: 3px;
    border-radius: 12px;
    color: #ffff;
    background-color: #262626;
    display: flex;
  }
  .header-seacrh-2 input {
    outline: none;
    border-radius: 12px;
    border: none;
    background-color: #262626;
    color: #ffff;
  }
  .header-nav-1 {
    display: none;
  }
  .burger {
    position: relative;
    margin: 4.5px;
    display: grid;
    width: 30px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .burger::after,
  .burger::before,
  .burger span {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffff;
    transition: 0.5s;
  }

  .burger span {
    top: 11px;
  }

  .burger::before {
    content: "";
    top: 0;
  }
  .burger::after {
    content: "";
    bottom: 0;
  }

  .burger-active span {
    transition: 0.5s;
    transform: rotate(45deg);

    top: 12px;
  }

  .burger-active::before {
    transition: 0.5s;

    transform: rotate(45deg);

    top: 12px;
  }
  .burger-active::after {
    transition: 0.5s;

    transform: rotate(-45deg);

    bottom: 10px;
  }
  .header-nav-1 {
    position: fixed;
    left: -200px;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    z-index: 1;
    background-color: #202020;
    transition: 0.5s;
  }
  .active {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    background-color: #202020;
    transition: 0.5s;
  }
  #bnts-header-1,
  #bnts-header-2,
  #headerLogin-btn {
    display: none;
  }
  #userBloc2 {
    display: none;
  }
  #user-bloc {
    display: none;
  }
  .header-login-btn-1 {
    padding-top: 10px;
    display: grid;
  }
  .btn-header-2 {
    display: none;
  }
  .header-login-btn {
    display: none;
    justify-content: center;
  }
  #btnlogout {
    font-size: 12px;
  }
}
